:root {
    --brush-colour: #000000;
  }

#canvas{
    display: flex;
    flex-wrap: wrap;
   
   
}
body{
    background-color: antiquewhite;
}
.pixel{
    background-color: rgb(255, 255, 255);
}

.main-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.settings{
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
*{
    font-family: monospace;
}

#palette-settings{
    display: flex;
    justify-content: space-between;
}

#colour-preview{
    width: 64px;
    height: 64px;
    background-color: black;
}

#colour-inputs{
    display: flex;
    flex-direction: column;
}